[Unit]
Description=Keeps a tunnel to 'remote.example.com' open
# this might be network.targ on non-debian systems
After=network-online.target

[Service]
# not sure if this should be run as different user, e.g. autossh...
User=petres

# -l [user]
# -M 0 --> no monitoring
# -N Just open the connection and do nothing (not interactive)

# opens a tunnel suuf.cc:9999 <--> m33x7:22 by connecting to suuf.cc:22
# use -R 0.0.0.0:9999:localhost:22 to bind port to * on server, not localhost only
ExecStart=/usr/bin/autossh -M 0 -N -o "ServerAliveInterval 60" -o "ServerAliveCountMax 3" -p 22 tunnel@server.abteil.org -R 0.0.0.0:21015:localhost:22 -R 0.0.0.0:21080:localhost:8000 -R 0.0.0.0:21081:localhost:8001 -R 0.0.0.0:21082:localhost:8002



ExecStop=killall -s KILL autossh

# Restart every >2 seconds to avoid StartLimitInterval failure
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
