html, body {
    margin:0;
    padding:0;
    background:#111;
    width:100%;
    height:100%;
    position:absolute;
    min-width:900px;
}

.angezeige {
    height:200px;
    position:absolute;
    top:50%;
    left:50%;
    width:900px;
    margin-left:-450px;
    margin-top:-100px;
    text-align:center;
}

.digit {
    width:120px;
    height:200px;
    margin:0 5px;
    position:relative;
    display:inline-block;
}

.digit .segment {
    opacity:1;
    border-radius:5px;
    position:absolute;
    transition:opacity 0.2s;
    -webkit-transition:opacity 0.2s;
    -ms-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    -o-transition:opacity 0.2s;
}

.separators {
    width:60px;
    height:75px;
    display:inline-block;
    position:relative;
}
.separator {
    width:10px;
    height:35px;
    border-radius:5px;
    display:inline-block;
    position:absolute;
    left: 25px;
}

.separator1 {
    top: -105px;
}

.separator2 {
    top: -65px;
}

.separator3 {
    top: -20px;
}

.separator4 {
    top:  20px;
}

.digit .segment:nth-child(1) {
    top:10px;
    left:20px;
    right:20px;
    height:10px;
}

.digit .segment:nth-child(2) {
    top:20px;
    right:10px;
    width:10px;
    height:75px;
    height:calc(50% - 25px);
}

.digit .segment:nth-child(3) {
    bottom:20px;
    right:10px;
    width:10px;
    height:75px;
    height:calc(50% - 25px);
}

.digit .segment:nth-child(4) {
    bottom:10px;
    right:20px;
    height:10px;
    left:20px;
}

.digit .segment:nth-child(5) {
    bottom:20px;
    left:10px;
    width:10px;
    height:75px;
    height:calc(50% - 25px);
}

.digit .segment:nth-child(6) {
    top:20px;
    left:10px;
    width:10px;
    height:75px;
    height:calc(50% - 25px);
}

.digit .segment:nth-child(7) {
    bottom:95px;
    bottom:calc(50% - 5px);
    right:20px;
    left:20px;
    height:10px;
}